* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(20, 0, 131);
}

.wrapper {
  padding: 20px;
  width: 80%;
  max-width: 460px;
  background-color: purple;
  color: aliceblue;
  border-radius: 15px;

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

}

.input-data {
  margin-block: 15px;
  
  label {
    display: block;
    font-size: 20px;
    margin: 5px 10px;
  }
  
  input {
    font-size: 16px;
    width: 100%;
    height: 35px;
    /* background-color: transparent; */
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    outline: none;
  }
}

.forgot-password {
  margin: 10px;
  font-size: 20px;

  a {
    color: aliceblue;
  }
  
  a:not(:hover) {
    text-decoration: none;
  }
}

.input-submit {
  width: 100%;
  height: 35px;
  margin: 15px 0;
  border: none;
  border-radius: 15px;
  outline: none;
  color: rgb(68, 68, 68);
  font-size: 16px;

  &:hover {
    background-color: rgb(227, 242, 255);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    font-weight: 600;
  }
}