<%- contentFor("head") %>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/home.css">

<%- contentFor("body") %>
  <div class="main">
    <h1>Home Page</h1>
    <a href="/login">Login Page</a>
  </div>